body {
  background-color: rgb(131, 0, 120);
}
.tarolo {
  background-color: rgb(189, 81, 107);
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.tartalom {
  background-color: rgb(96, 29, 255);
  border: 1px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.szoveg {
  background-color: cornflowerblue;
  padding: 10px;
  border: solid green;
}

.kepek {
  border: 1px solid black;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;

}
.pic {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
}
.pic img {
  width: 100%;
}
.menu ul {
    list-style-type: none;
    padding:0;
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
.menu li {
    background-color: red;
    padding: 5px;
    border: 1px solid hotpink;
}
.menu ul li a{
    color: blue;
    text-decoration: none;
}
.menu ul li a:hover{
    color: aqua;
    background-color: brown;
}